<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%32X{trace_id:-none}] %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="otelConsole"
              class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
        <captureExperimentalAttributes>false</captureExperimentalAttributes>
        <captureCodeAttributes>true</captureCodeAttributes>
        <captureMarkerAttribute>true</captureMarkerAttribute>
        <captureMdcAttributes>*</captureMdcAttributes>
        <appender-ref ref="console" />
    </appender>

    <root level="INFO">
        <appender-ref ref="otelConsole"/>
    </root>
</configuration>